body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: #faf7f7;
}
img {
  width: 500px;
}

.callout {
  background-color: #bdb8b7;
}

.comment {
  font-size: 15px;
}

td {
  text-align: center;
}

#navMenu li {
  display: inline;
}

code {
  font-size: 16px;
}

a:visited {
  color: grey;
}

a:link {
  color: red;
}
